<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
        xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0
	https://openhab.org/schemas/config-description-1.0.0.xsd">

    <config-description uri="thing-type:dwdrainalarm:config">
        <parameter name="geolocation" type="text" required="true">
            <context>location</context>
            <label>Location</label>
            <description>The latitude, longitude separated with a comma (lat,long).</description>
        </parameter>
        <parameter name="interval" type="integer" min="1" max="86400" unit="s">
            <label>Interval</label>
            <description>Refresh interval for positional data calculation in seconds.</description>
            <default>300</default>
        </parameter>
        <parameter name="radius" type="integer" min="0" max="10000">
            <label>Radius</label>
            <description>radius around location to gather rain values</description>
            <default>10</default>
        </parameter>
        <parameter name="prediction-time" type="integer" min="5" max="120">
            <label>Prediction Time</label>
            <description>Time from now in minutes to predict rain values</description>
            <default>10</default>
        </parameter>
    </config-description>

</config-description:config-descriptions>
